<!-- Search bar -->
<app-search
  [placeholderText]="'Search by account no'"
  (searchTextEmitter)="getSearchText($event)"
></app-search>
<!-- Search bar -->

<!-- App Spinner* -->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- App Spinner* -->

<!-- Content* -->
<div style="display:flex; padding:20px; justify-content:space-around;">
  <mat-list
    *ngIf="bankAccounts.length > 0"
    style="padding: 20px;margin-bottom: 10px; padding-top: 0px;"
  >
    <mat-list-item
      *ngFor="
        let account of bankAccounts
          | filter: searchText
          | paginate
            : {
                itemsPerPage: 10,
                currentPage: p,
                totalItems: total
              }
      "
      class="card"
      style="padding: 20px;margin-bottom: 30px;height: auto;"
    >
      <i
        matListAvatar
        class="fas fa-user"
        style="width: 40px; margin:auto; height: auto;"
      ></i>
      <h3 matLine style="margin-bottom: 10px;">
        <b>Account Number:-</b> {{ account["Account No"] }}
      </h3>
      <p matLine class="flex-container">
        <span class="col-md-4">
          <b>Balance Amount:-</b>
          {{ account["Balance AMT"] == "" ? "NA" : account["Balance AMT"] }}
        </span>
        <span class="col-md-4">
          <b>Deposit Amount:-</b>
          {{ account["Deposit AMT"] == "" ? "NA" : account["Deposit AMT"] }}
        </span>
        <span class="col-md-4">
          <b>Transaction Details:-</b> {{ account["Transaction Details"] }}
        </span>
        <span class="col-md-4">
          <b>Withdrawal Amount:- </b
          >{{
            account["Withdrawal AMT"] == "" ? "NA" : account["Withdrawal AMT"]
          }}
        </span>
        <span class="col-md-4"> <b>Date:-</b> {{ account["Date"] }} </span>
        <span class="col-md-4">
          <b>Value Date:-</b> {{ account["Value Date"] }}
        </span>
      </p>
    </mat-list-item>
  </mat-list>
</div>

<div
  class="has-text-centered"
  *ngIf="bankAccounts.length > 0"
  style="display: flex;justify-content: center;"
>
  <pagination-controls
    (pageChange)="getPage($event)"
    previousLabel="Previous"
  ></pagination-controls>
</div>
<div></div>

<!-- Content -->
